*body{
    padding: 0px;
    margin: 0px;
}
.Nav{
    padding: 0.5px;
    background-color: grey;
}
.Nav ul{
    float: right;
    opacity: 0.9;
}
.Nav li{
    display: inline;
    margin-right: 150px;
    list-style: none;
    padding: 0px;
}
.Logo h4{
    margin-left: 10px;
    padding-top: 20px;
}
.image{
    height: 600px;
    width: 100%;
    background-image: url("images/agric\ 1.png");
    background-position: center;
    background-size: cover;
    border: 0px;
    background-repeat: no-repeat;
}
.Abt{
    background-color: whitesmoke;
    height: 150px;
    padding: 50px;
    opacity: 0.9;
}
.food{
    border-style: groove;
    width: 200px;
}

